{% extends 'base.html' %} {% block content %}

<div class="text-center p-2"><h2>Add Article</h2></div>

<form method="POST" class="form-wrapper" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <label for="Title">Title</label
    ><input type="text" name="title" id="Title" class="form-control" />
     {% if form.title.errors %}
    <div class="alert-error" role="alert">
      {{ form.title.errors }}
    </div>
    {% endif %}
  </div>
  <div class="form-group">
    <label for="Slug">Slug</label
    ><input type="text" name="slug" id="Slug" class="form-control" />
    {% if form.slug.errors %}
    <div  role="alert">
      {{ form.slug.errors }}
    </div>
    {% endif %}
  </div>
  <div class="form-group">
    <label for="Body">Body</label>
    <textarea name="body" id="Body" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="Thumbnail">Add Thumbnail</label>
    <input type="file" class="form-control-file" id="Thumbnail" name="thumbnail">
  </div>
  <button class="btn btn-primary px-5 add-form-btn" type="submit">Add</button>
</form>
{% endblock %}
