{% extends 'base.html' %} {% block content %}

<div class="text-center p-2 detail-title">
  <h2>{{ article.title }}</h2>
  <div class="btn-grp">
    <a href="{% url 'delete' id=article.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'edit' id=article.id %}" class="btn btn-success">edit</a>
  </div>
</div>
<div class="container">
  <div class="image-wrapper">
    <img src="{{ article.thumbnail.url }}" alt="Hero image" />
  </div>
  <div class="container-fluid bg-light content-detail">
    <div class="text-dark my-3">
      {{ article.date_added }}
    </div>
    <div class="text-body article-body">
      {{ article.body }}
    </div>
  </div>
</div>

{% endblock %}
